@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1bb295;
}
.wrapper{
    width: 500px;
    background: #fff;
    border-radius: 12px;
}
.wrapper h1{
    font-size: 24px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content{
    margin: 20px 25px 35px;
}
.wrapper .inputs{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.wrapper input{
    height: 60px;
    width: 59px;
    margin: 5px;
    color: #1bb295;
    border-radius: 5px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    background: none;
    border: 1px solid #ccc;

}
.inputs input:first-child{
    margin-left: 0;
}
.content .typing-input{
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.content .details{
    margin: 20px 0 25px;
}
.details p {
    font-size: 18px;
    margin-block-end: 10px;
}
.content .reset-btn{
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 0;
    background-color: #1bb295;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}
